body {
  width: 100%;
  height: max-content;
  margin: 0;
  padding: 0;
}

nav.navigator {
  width: calc(100% - 2*var(--navigator-padding));
  height: fit-content;
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid gray;
  background-color: whitesmoke;
  padding: var(--navigator-padding);
  gap: 20px;
}

nav.navigator > .item {
  border-radius: 10px;
  padding: 10px;
  background-color: transparent;
  transition: all .2s;
  cursor: pointer;
  user-select: none;
}

nav.navigator > .item:hover {
  background-color: rgba(100, 100, 100, .2);
}

nav.navigator > i.bi {
  aspect-ratio: 1;
  font-size: var(--navigator-icon-size);
  color: var(--navigator-icon-color);
}